@(content: Html)
<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="lt-ie7" data-ng-app="ConApp" ng-class="{'rtl': settings.rtl}"> <![endif]-->
<!--[if IE 7]>     <html class="lt-ie8" data-ng-app="ConApp" ng-class="{'rtl': settings.rtl}"> <![endif]-->
<!--[if IE 8]>     <html class="lt-ie9" data-ng-app="ConApp" ng-class="{'rtl': settings.rtl}"> <![endif]-->
<!--[if gt IE 8]><!--> <html data-ng-app="conAngular" ng-class="{'rtl': settings.rtl}"> <!--<![endif]-->
<html ng-app="sportsStore">
<head>
    <title>SportsStore</title>
    <!-- scripts -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
    <script type="text/javascript" src="/static/js/cms/modules/sportsStore.js"></script>
    <script type="text/javascript" src="/static/js/cms/filters/customFilters.js"></script>
    <script type="text/javascript" src="/static/js/cms/modules/cart.js"></script>
    <script type="text/javascript" src="/static/js/cms/controllers/productListControllers.js"></script>
    <script type="text/javascript" src="/static/js/cms/controllers/checkoutControllers.js"></script>

    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="/static/assets/_con/css/_con-brown.css"/>
    <link rel="stylesheet" type="text/css" href="/static/assets/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/assets/bootstrap/css/bootstrap-theme.css"/>

</head>
<body ng-controller="sportsStoreCtrl">
    <ng-include src="'/html/common/headerNavbar.html'"></ng-include>

    <div class="alert alert-danger" ng-show="data.error">
        Error ({{data.error.status}}). The product data was not loaded.
        <a href="/app.html" class="alert-link">Click here to try again</a>
    </div>

    <ng-view />
</body>
</html>